body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: grey;
    color: white;
    background-image: url('./images/aibg.jpg');
    background-size: cover;
}

.content {
    max-width: 50%;
}

button {
     margin: 2rem;
     font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 1.2rem;
     font-weight: 600;
     padding: 0.5rem 2rem;
     border-radius: 20px;
     background: white;
     color: black;
     width: 12rem;
     border: none;
}

::placeholder {
    color: black;
    opacity: 1; 
    font-weight: 400;
    font-size: 1.1rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }

::-webkit-input-placeholder, ::-ms-input-placeholder, ::-moz-placeholder {
    font-size: 2rem;
}

h1, p, ul {
    color: rgb(250, 250, 250);
}

h1 {
    font-size: 4rem;
    text-align: left;
    text-shadow: 0 0 3px black;
    color: white;
}

ul {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: -0.5rem;
}

li {
    background-color: rgb(30, 29, 29);
    border-radius: 5px;
    padding: 2rem;
    padding-right: 5rem;
    text-align: left;
    list-style-type: none;
    margin: 1rem auto;
    width: 100%;
    color: white;
    border-radius: 10px 10px 300px 10px;
    box-sizing: border-box;
}

.content {
    width: 70%;
    margin: 0 auto;
}

textarea {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    width: 95%;
    min-height: 5rem;
    background: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px 50px 1000px 50px;
}

textarea:hover {
    box-shadow: 0 0 5px black;
}

h2 {
    text-align: left;
    font-size: 2rem;
    text-shadow: 0 0 2px black;
    display: none;
}

h3 {
    margin: 0;
    font-weight: 400;
}

.prompts {
    min-width: 9rem;
    font-size: 1rem;
    font-weight: 600;
}

.prompt--div {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.response--div {
  width: 100%;
  display: flex;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.response {
    font-weight: 300;
}

.heading {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 100%;
}

.dropdown {
    margin: 0;
    border-radius: 5px 5px 5px 50px;
    border: none;
    text-align: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(163, 163, 163);
  min-width: 12rem;
  z-index: 1;
  text-align: right;
  border-radius: 0px 0px 0px 50px;
  margin-top: 10px;
}

.dropdown-content a {
  color: white;
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0 0 2px black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.dropdown-content a:hover {
    text-shadow: 0 0 3px black;
    background-color: rgb(212, 212, 212);
    border-radius: 5px 5px 5px 50px;
    box-shadow: 0px 0px 5px black;
}

.dropdown-content a:active {
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    box-shadow: 0px 0px 2px black;
    text-shadow: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button:hover {
    background: rgb(231, 230, 230);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}

#submit:active, #clear:active {
    background: rgb(212, 212, 212);
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
}

#submit {
    border-radius: 40px 5px 40px 5px;
}

#clear {
    border-radius: 40px 5px 40px 5px;
}