body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 2rem;
    font-family: Helvetica, sans-serif;
    background: white;
}

button {
     margin: 2rem;
     font-family: Helvetica, sans-serif;
     font-size: 1.2rem;
     font-weight: 700;
     padding: 0.5rem 2rem;
     border-radius: 20px;
     background: black;
     color: white;
}

::-webkit-input-placeholder, ::-moz-placeholder, ::-ms-input-placeholder, ::-moz-placeholder {
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
  }

  h1, p, ul {
      color: black;
  }

  h1 {
      font-size: 3rem;
  }

  ul {
      font-size: 0.9rem;
      font-weight: 600;
      line-height: 1.6rem;
      display: flex;
      flex-direction: column-reverse;
  }


  li {
      background-color: rgb(226, 226, 226);
      border-radius: 5px;
      padding: 2rem;
      text-align: left;
      list-style-type: none;
      margin: 1rem auto;
      width: 60%;
  }

  .content {
      width: 70%;
      margin: 0 auto;
  }

  textarea {
      padding: 1rem;
      font-size: 1.2rem;
  }

  h3 {
      margin: 0;
  }

  .prompts {
      min-width: 9rem;
      font-size: 1rem;
  }

  .prompt--div {
      width: 100%;
      display: flex;
      margin-bottom: 2rem;
  }

  .response--div {
    width: 100%;
    display: flex;
}



