@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Happy+Monkey&family=Inter:wght@400;600;700&family=Karla:wght@400;700&family=Open+Sans:wght@400;500;600;700;800&family=Orbitron:wght@400;800&family=Playfair+Display+SC:ital,wght@1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding-top: 1rem;
    background: grey;
    color: white;
    background-image: url('./images/aibg.jpg');
    background-size: cover;
}

h1, p {
    color: rgb(250, 250, 250);
}

h1 {
    font-size: 4rem;
    text-align: left;
    text-shadow: 0 0 3px black;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    margin: -1rem 0 0.6rem 0;
}

h2 {
    text-align: left;
    font-size: 2.5rem;
    text-shadow: 0 0 2px black;
    display: none;
}

h3 {
    margin: 0;
    font-weight: 400;
    margin-right: 2rem;
}

li {
    background-color: rgb(30, 29, 29);
    border-radius: 5px;
    padding: 2rem;
    padding-right: 5rem;
    text-align: left;
    list-style-type: none;
    margin: 1rem auto;
    width: 100%;
    color: white;
    border-radius: 10px 10px 300px 10px;
    box-sizing: border-box;
}

.responseslist {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: -0.5rem;
}

.inputarea {
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    width: 100%;
    min-height: 5rem;
    background: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 50px 50px 1000px 50px;
    box-sizing: border-box;
}

.inputarea:hover {
    box-shadow: 0 0 5px black;
}

.content {
    margin: 0 auto;
    max-width: 50%;
}

::placeholder {
    color: black;
    opacity: 1; 
    font-weight: 400;
    font-size: 1.1rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  }

::-webkit-input-placeholder, ::-ms-input-placeholder, ::-moz-placeholder {
    font-size: 2rem;
}

.content {
    margin: 0 auto;
    max-width: 50%;
}

.prompts {
    min-width: 7rem;
    font-size: 1rem;
    font-weight: 600;
}

.prompt--div {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.response--div {
  width: 100%;
  display: flex;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.response {
    font-weight: 300;
}

.heading {
    display: flex;
    flex-direction: row-reverse;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2rem;
}

.querybtn {
    font-size: 1.1rem;
    margin: 0;
    border-radius: 5px 5px 5px 50px;
    border: none;
    text-align: right;
    width: 13rem;
    padding: 0.6rem 2rem 0.7rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.submitbtn:hover, .clearbtn:hover, .querybtn:hover {
    background: rgb(231, 230, 230);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.querybtn:hover {
    box-shadow: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(163, 163, 163);
  min-width: 13rem;
  z-index: 1;
  text-align: right;
  border-radius: 0px 0px 0px 50px;
}

.dropdown-content > * {
  color: white;
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 0 0 2px black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content > *:hover {
    text-shadow: 0 0 3px black;
    background-color: rgb(108, 108, 108);
    border-radius: 5px 5px 5px 50px
}

.dropdown-content > *:active {
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    box-shadow: 0px 0px 2px black;
    text-shadow: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: transparent;
    box-shadow: none;
}

.submit:active, .clear:active {
    background: rgb(212, 212, 212);
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
}

.submitbtn, .clearbtn {
    margin: 2rem;
     font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 1.2rem;
     font-weight: 600;
     padding: 0.5rem 2rem;
     border-radius: 20px;
     background: white;
     color: black;
     width: 12rem;
     border: none;
}

.submitbtn {
    border-radius: 40px 5px 40px 5px;
}

.clearbtn {
    border-radius: 40px 5px 40px 5px;
}

@media only screen and (max-width: 840px) {
    body {
      background: rgb(68, 68, 68);
      background-image: url('./images/aibg.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 100%;
      display: block;
    }

    h1 {
        text-align: center;
        margin: 2rem 2.4rem 3rem;
        font-size: 5rem;
    }

    h2 {
        text-align: center;
        margin-top: 3rem;
    }
    
    li {
      border-radius: 5px;
      padding: 1rem;
      text-align: left;
      list-style-type: none;
      width: 90%;
      margin-top: 0;
      background: rgb(237, 237, 237);
      color: black;
      font-size: 0.8rem;
    }

    .inputarea {
        width: 90%;
        margin-top: -0.8rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .content {
        max-width: 90%;
    }

    ::placeholder {
        font-size: 1rem;
      }

    .prompts {
        min-width: 5rem;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .dropdown {
        text-align: right;
        margin-bottom: -1rem;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background: rgb(68, 68, 68);
        min-width: 13rem;
        z-index: 1;
        text-align: right;
        border-radius: 0px 0px 0px 50px;
    }

    .dropdown-content a {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 600px) {
    body {
      background: rgb(68, 68, 68);
      background-image: url('./images/aibg.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center 100%;
      display: block;
      overflow: scroll;
    }

    h1 {
        text-align: left;
        margin-top: 0rem;
        font-size: 4rem;
        margin-left: 1rem;
    }

    h2 {
        text-align: center;
        margin-top: 3rem;
    }
    
    h3 {
        margin: 0 0 0 0;
    }
    
    li {
      border-radius: 5px;
      padding: 1rem;
      text-align: left;
      list-style-type: none;
      width: 90%;
      margin-top: 0;
      background: rgb(237, 237, 237);
      color: black;
      font-size: 0.8rem;
    }

    .inputarea {
        width: 95%;
        margin-top: -2.4rem;
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }

    .heading {
        display: block;
        margin: 0;
    }

    .dropdown {
        margin-bottom: 1rem;
        display: flex;
        justify-content: end;
    }

    ::placeholder {
        font-size: 1rem;
      }

    .prompts {
        min-width: 5rem;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .submitbtn, .clearbtn {
        max-width: 8rem;
        margin: 1.2rem 0.5rem 1rem;
    }
}

